In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\IMDB Dataset.csv")

In [42]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [43]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# step 1 Lowercasing

In [44]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [45]:
# If I want ti coinvert all movies review then

df['review'] = df['review'].str.lower()

In [46]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Step 2 remove HTML Tags

In [47]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [48]:
text = "<html><body><p> Movie </p><p> Click here to <a href = 'http://google.com'>download</a></p>"

In [49]:
remove_html_tags(text)

' Movie  Click here to download'

In [50]:
df['review'] = df['review'].apply(remove_html_tags)

In [51]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [52]:
# If we want to  remove urls from text then 

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'' , text)

In [53]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'
text2 = 'Check out my notebook https://www.deture.com/delta/note1234acc'
text3 = 'Google search here www.google.com'
text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [54]:
remove_url(text4)

'For notebook click '

# STEP-4 REMOVE PUNCTUATION

In [55]:
import string
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [56]:
exclude = string.punctuation

In [57]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char , '')
    return text

In [58]:
text = 'string. With. Punctuation'

In [59]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time1)

string With Punctuation
0.0

In [60]:
# If we have large amount of data then we use

def remove_punc1(text):
    return text.translate(str.maketrans('' , '' , exclude))

In [61]:
start = time.time()
print(remove_punc1(text))
time2 = time.time() - start
print(time2)

string With Punctuation
0.0

In [62]:
df= pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\twitter_sentiment_analysis.csv")

In [63]:
df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [64]:
import string
exclude = string.punctuation

In [65]:
def remove_punc(text):
    return text.translate(str.maketrans('', '', exclude))

In [66]:
df['tweet'] = df['tweet'].apply(remove_punc1)

In [67]:
df

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid ð hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# STEP-5 CHATWORD TREATMENT

In [68]:
chat_words = {'u2' : 'you too', 'BBL':'Be Back Later' , 'GAL':'Get A Life'}

In [69]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get A Life'}

In [70]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words :
            new_text.append(chat_words[w.upper()])
        else:
            new_text.appnend(w)
    return "".join(new_text)

In [71]:
chat_conversation('GAL')

'Get A Life'

# Step-6 Spelling Correction

In [72]:
from textblob import TextBlob

In [73]:
incorrect_text = "ceertain conditions seveal ggenerations aree modified in the saame maner."
textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions several generations are modified in the same manner.'

# Step-7 Removing StepWords

In [74]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\gajendra
[nltk_data]     singh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [75]:
STOPWORDS = set(stopwords.words('english'))

In [76]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [77]:
# Manually work
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        
        if word in set(stopwords.words('english')):
            new_text.append('')
            
        else:
                new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return "".join(x)

remove_stopwords('probably my all-time favorite movie , a story of selflessness , sacrifice and dedication to a noble cause.')

'probablyall-timefavoritemovie,storyselflessness,sacrificededicationnoblecause.'

In [78]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"
                               u"\U0001F300-\U0001F5FF"
                               u"\U0001F680-\U0001F6FF"
                               u"\U0001F1E0-\U0001F1FF"
                               u"/U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "] +" , flags = re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [79]:
remove_emoji('Loved the movie. It was 😍😒')

'Lovethmovie. Iwa😍😒'

In [80]:
! pip install emoji

Requirement already satisfied: emoji in c:\users\gajendra singh\anaconda3\lib\site-packages (2.8.0)

In [81]:
import emoji
print(emoji.demojize('Python is 😘'))

Python is :face_blowing_a_kiss:

# Tokenization

In [82]:
# 1. prefix - character(s) at the begining = $(" .)
# 2. suffix - character(s) at the end = km).!"
# 3. Infix - character(s) i  between = --/...
# 4. Exception - Special-case rule to split a string into several tokens or
# prevent a token from being split when punctuation rules are applied .= let's U.s.

In [83]:
# Approach the tokenization using the split function

# 1. word tokenization

sent1 = "I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [84]:
# sentence tokenization 
sent2 = "I am going to delhi . I will stay there for 3 days. Let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi ',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [85]:
# Problem with split function
sent3 = "I am going to delhi!"
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [86]:
# in the sent3 problem, there is seeing that ! is include with delhi. So, we have to remove it by regular expression.

In [87]:
import re
sent3 = "I am going to delhi"
tokens = re.findall("[\w']+", sent3)
sent3

'I am going to delhi'

In [88]:
text = ''' Lorem Ispum is simply dummy test of the printing industry?
lorem this is my book , 
i see a point .'''

sentences = re.compile('[.!?]').split(text)
sentences

[' Lorem Ispum is simply dummy test of the printing industry',
 '\nlorem this is my book , \ni see a point ',
 '']

In [89]:
# here , we saw that some issue wew on split function and regular expression . So , we have to use libraries.

# NLTK

In [90]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [91]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\gajendra
[nltk_data]     singh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [92]:
sent1 = "I am going to visit delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [93]:
sent2 = 'I have a Ph.d in A.I'
sent3 = "We 're here to help! mail us at nks@gmail.com"
sent4 = 'A 5km ride cost $10.50'

In [94]:
word_tokenize(sent2)

['I', 'have', 'a', 'Ph.d', 'in', 'A.I']

In [95]:
word_tokenize(sent3)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

# Stemming

In [96]:
# 1. Inflection ==> 'In grammer, inflection is the modifiaction of a word'
# to express different grametical categories such as tense , case , voice , aspect , person , number , gender and mood ."


# 2. Stemming ==> Stemming is the process of reducing inflection in words to their root forms
# such as mapping a group of words to the same stem even if the  stem itself is not valid word in the language .

In [97]:
from nltk.stem.porter import PorterStemmer

In [98]:
ps = PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [99]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [100]:
# stemming mapping a group of words to the same stem even if the stem itself is not valid word in language. So,this is issue of steeming.

text = 'probably my alltime favourite movie a story of selflessness sacrifice and dedication.'
print(text)

probably my alltime favourite movie a story of selflessness sacrifice and dedication.

In [101]:
stem_words(text)

'probabl my alltim favourit movi a stori of selfless sacrific and dedication.'

In [102]:
# so, we have to use lematization instead of stemming.
# note- stemming is fast and lematization is slow.

In [103]:
# Lemmatization , unlike Stemming , reduces the inflected words properly ensuring that the root word belongs to the language . 
# In Lemitization root word is called Lemma . 
# Alemma (plural lemmas or lemmata) is the canonical form , dictionary form , or citation form of a set of words . 

# Stemming works on beehalf algorithm  , so it is fast and lemmatization is using wordnet package , so it's slow.

In [104]:
from nltk.stem import WordNetLemmatizer

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\gajendra
[nltk_data]     singh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [105]:
wordnet_lemmatizer = WordNetLemmatizer

In [107]:
import nltk
from nltk.stem import WordNetLemmatizer

sentence = 'He was running and eating at the same time. He has a bad habit of swimming after playing long hours in the sun'
punctuation = '?:!.,;'
sentence_words = nltk.word_tokenize(sentence)

# Create a WordNet Lemmatizer instance
wordnet_lemmatizer = WordNetLemmatizer()

# Lemmatize each word in the sentence
lemmatized_words = [wordnet_lemmatizer.lemmatize(word) for word in sentence_words]

print("{0:20}{1:20}".format("Word", "Lemma"))
for word, lemma in zip(sentence_words, lemmatized_words):
    print("{0:20}{1:20}".format(word, lemma))

Word                Lemma
He                  He
was                 wa
running             running
and                 and
eating              eating
at                  at
the                 the
same                same
time                time
.                   .
He                  He
has                 ha
a                   a
bad                 bad
habit               habit
of                  of
swimming            swimming
after               after
playing             playing
long                long
hours               hour
in                  in
the                 the
sun                 sun